<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;launchConfigurationWorkingSet factoryID=&quot;org.eclipse.ui.internal.WorkingSetFactory&quot; label=&quot;launchConfigurationWorkingSet&quot; name=&quot;launchConfigurationWorkingSet&quot;&gt;&#13;&#10;&lt;item factoryID=&quot;org.eclipse.ui.internal.model.ResourceFactory&quot; path=&quot;/WebPortal/WebContent/VAADIN/widgetsets&quot; type=&quot;2&quot;/&gt;&#13;&#10;&lt;/launchConfigurationWorkingSet&gt;}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files\Java\jre6\bin\java.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-Djava.awt.headless=true -Xss8M -Xmx500M -classpath &quot;C:\Users\ace\lib\gwt-windows-1.6.4\gwt-user.jar;C:\Users\ace\lib\gwt-windows-1.6.4\gwt-dev-windows.jar;C:\Users\ace\.m2\repository\de\decidr\modelingtool\gwt-dnd\2.6.0\gwt-dnd-2.6.0.jar;C:\Users\ace\.m2\repository\de\decidr\modelingtool\gxt\1.2.4\gxt-1.2.4.jar;C:\Users\ace\DecidR\ModelingTool\src\main\java\;C:\Program Files\Java\jre6\lib\rt.jar;C:/Users/ace/DecidR/WebPortal/src/main/java;C:\Users\ace\.m2\repository\de\decidr\WebPortal\vaadin\6.0.0\vaadin-6.0.0.jar&quot; com.vaadin.tools.WidgetsetCompiler -out src/main/webapp/VAADIN/widgetsets de.decidr.ui.view.MainWidgetset"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc:/WebPortal}"/>
</launchConfiguration>
