/** Add css rules here for your application. */

.workflow {
	background-color: #DDDDDD;
}

.node-graphic-std {
	width: 100px;
	height: 60px;
	background-color: #EEEEEE;
	border: solid 1px;
	text-align: center;
	vertical-align: middle;
	border-style: groove;
}

.node-graphic-startnode {
	width: 50px;
	height: 30px;
	background-color: #66FF66;
	border: solid 1px;	
}

.node-graphic-endnode {
	width: 50px;
	height: 30px;
	background-color: #FF6666;
	border: solid 1px;	
}

.container-std {
	background-color: #666666;
	border: solid 1px;
}

.if-container-std{
	background-color: #0000CC;
    border: solid 1px;
}

.foreach-container-std{
	background-color: #00CC00;
    border: solid 1px;
}

.flow-container-std{
	background-color: #CC0000;
    border: solid 1px;
} 
    
.port-inputport {
	width: 8px;
	height: 8px;
	background-color: green;
	font-size: 1px;
}

.port-outputport {
	width: 8px;
	height: 8px;
	background-color: red;
	font-size: 1px;
}

.port-container-startport {
	width: 8px;
	height: 8px;
	background-color: orange;
	font-size: 1px;
}

.port-container-exitport {
	width: 8px;
	height: 8px;
	background-color: orange;
	font-size: 1px;
}

.port-indicator-invisible {
	width: 20px;
	height: 20px;
	font-size: 1px;
}

.port-indicator-visible {
	width: 20px;
	height: 20px;
	font-size: 1px;
	background-color: #FFFF66;
}

.dragbox-node {
	width: 6px;
	height: 6px;
	background-color: black;
	font-size: 5px;
}

.dragbox-port {
	width: 8px;
	height: 8px;
	background-color: #FFFF00;
	font-size: 1px;
}

.dragbox-invisible {
	width: 8px;
	height: 8px;
	font-size: 1px;
}

.dragbox-debug {
	width: 8px;
	height: 8px;
	font-size: 1px;
	background-color: #00FF00;
}

.connection-line {
	background-color: black;
	font-size: 1px;
}

.connection-line-selected {
	background-color: red;
	font-size: 1px;	
}

.menu-std {
	
}

.menu-undo {
	src: url('images/menu/undo.png');	
}





/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
